*{
  box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
}

/* Personaliza a barra de rolagem para navegadores baseados em WebKit */
::-webkit-scrollbar {
  width: 8px; /* Deixa o scroll estreito */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: rgb(90, 89, 89); /* Cinza claro */
}

/* Cor e estilo do "polegar" do scroll */
::-webkit-scrollbar-thumb {
  background: #b0b0b0; /* Cinza intermediário */
  border-radius: 3px; /* Arredondado */
}

/* Adiciona um efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #909090; /* Escurece um pouco */
}